/* TODO: Make it awesome */
body {

padding: 10px;;
font-size: 20px;
font-family: 'Gill Sans';
font-weight: bold;
background-color:#50CB93;
color:#54436B ;

}
nav {

background-color: #ACFFAD;
}
 nav ul li  {

 display:inline-block;
 }

 nav ul li a {
         text-decoration: none;
 }


footer {
        text-align: center;
      
}
